<div class="todos">
  <form class="form" (submit)="addTodo()">
    <input type="text" name="inputTodo" placeholder="Enter Todo..." class="todo-input" [(ngModel)]="inputTodo">
    <input class="todo-submit" type="submit" value="Add Todo" />
  </form>
  <div *ngFor="let todo of todos; let i = index" class="todo {{( todo.completed ? 'done' :'' )}}">
    <div id="id">{{i}}</div>
    <div (click)="toggleDone(i)" class="content">{{todo.content}}</div>
    <button (click)="removeTodo(i)" class="delete">
      remove
    </button>
  </div>
</div>