.todo {
  display:flex;
  gap:16px;
  margin-bottom:16px;
  margin-left:16px;
  &.done {
    & .content {
      text-decoration: line-through;
    }
  }
}

.form {
  margin-bottom: 16px;
  margin-left: 16px;
  input {
    margin-right: 8px;
  }
}