* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}
.app {
  height:100vh;
  width:100%;
  background: #181824;
}
.title {
font-style: normal;
font-weight: 400;
font-size: 6rem;
line-height: 156px;
letter-spacing: 0.1em;
color: #FFFFFF;
text-transform: uppercase;
margin-left: 64px;
margin-bottom: 48px;
}