.todo-item {
  width:100%;
  padding: 24px 16px;
  display: flex;
  align-items: center;
}
.todo-text {
  font-style: normal;
  flex:0.78;
  font-weight: 400;
  font-size: 36px;
  line-height: 59px;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 4px solid rgba(72, 64, 64, 0.37);
  padding:0 16px;
  position: relative;
  &.completed {
    color:rgba(15, 144, 162, 0.57);
    &::before {
      height:2.5px;
      width:calc(100% - 32px);
      position:absolute;
      content: "";
      background-color:rgba(255, 255, 255, 0.5);;
      left:50%;
      top:50%;
      transform: translate(-50%,-50%);
    }
  }
}
.btn-container {
  flex:0.11;
}
/* Hide the default checkbox */
.checkbox-container {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgba(191, 86, 255, 0.79);
  background-color: transparent;
  color: #FFFFFF;
  &.checked {
    background-color: rgba(191, 86, 255, 0.79);
  }
}

.delete-btn {
  margin-left: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgba(191, 86, 255, 0.79);
  background-color: transparent;
  color: #FFFFFF;
  display:flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
}